<p id="notice"><%= notice %></p>
<div class="mainupper">
<div class="posthead">
<h1 class="heading" id="tester">Posts </h1>
<h2><%= link_to 'New Post', new_post_path,id: 'newp', :class => 'newpost'%><h2>
  </div>


  <tbody>
    <% @posts.each do |post| %>
      <hr class="stylehr">
      <ul>
        <li class="title"><%= link_to post.title.capitalize, post_path(post) %></li><br><br>
        <li class="posting"><%= post.posting.truncate(50) %>
          <%= link_to "Read More", post_path(post) %>

        </li><br>
        <li><strong>Posted by: <%= post.model.email%></strong></li>
      <% if post.model == current_model%>
        <li><%= link_to 'Edit', edit_post_path(post),:class => 'edit' %>
        <%= link_to 'Destroy', post,:class => 'destroy' ,method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end %>
      </ul>

      
      
    <% end %>
    <div style="text-align: center;font-size: 15px;"><%= will_paginate @posts %></div>
  </tbody>


<br>



</div>




<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div style="text-align: center;">
      <h1>Post</h1>
      <%= render 'form', post: @post %>
    </div>
  </div>

</div>
