<div class="center">
<div class="logins">
<p id="notice"><%= notice %></p>

<p style="font-size: 40px;">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p style="font-size: 13px;">
  <strong>Posting:</strong>
  <%= @post.posting %>
</p>
  <h4>Comments</h4>

<p> 
	
	<% @comments.each do |com| %>
    
	  <% if com.post_id == @post.id %>
    <div class="loopcomment">
	   <strong>by:<%= com.model.email %>
      <% if com.model ==current_model %>
     <%= link_to "Delete",post_comment_url(com),method: :delete,data: {comfirm: 'Are you'} %>
     <% end %><br>Said:</strong><%= com.comment %>
      
     <br>
     </div>
	  <% end %>
    
	<% end %>
	
</p>

<p>

	<%= form_for ([@post,@comment]) do |com| %>
      <%= com.text_area :comment%><br>
      <%= com.submit %>
    <% end %>
    <button id="btn"></button>
    <p id="show">show</p>

</p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>
</div>