<div class="center">
<div class="logins">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Posting:</strong>
  <%= @post.posting %>
</p>
  <h4>Comments</h4>

<p> 
	<div class="loopcomment">
	<% @comments.each do |com| %>

	  <% if com.post_id == @post.id %>
	   <strong>by:<%= com.model.email %></strong><%= com.comment %>
      <% if com.model ==current_model %>
     <%= link_to "Delete",post_comment_url(com),method: :delete,data: {comfirm: 'Are you'} %>
     <% end %>
     <br>

	  <% end %>
	<% end %>
	</div>
</p>
<p>
	<%= form_for ([@post,@comment]) do |com| %>
      <%= com.text_area :comment%><br>
      <%= com.submit %>
    <% end %>

</p>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

</div>
</div>